* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.3s linear;
}

.sidebar_menu {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hide the menu off-screen */
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: relative; /* Changed to relative for proper positioning */
    left: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    color: grey;
    font-size: 25 px;
    line-height: 60px;
    position: absolute;
    right: 275px;
    opacity: 0;
}

.sidebar_menu .menu {
    position: relative;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
    position: relative; /* Added relative positioning */
    z-index: 1; /* Added z-index to ensure the list items are above the icons */
}

.sidebar_menu .menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
     color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 20px; /* Positioned at the bottom */
    z-index: 1;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 5px; /* Increased padding for better
     spacing */
    font-size: 24px; /* Adjusted icon size */
    z-index: 1;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one:hover {
    font-size: 40px;
}

.btn_two:hover {
    font-size: 30px;
}

.sidebar_menu .social_media:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}
